<a href="https://colab.research.google.com/github/Mychoyce/Gomycode-Checkpoints/blob/main/employee_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instructions

Create a dataframe called "employee_df" with the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

employee_df= pd.DataFrame(data)
Use the iloc method to select the first 3 rows of the dataframe.
Use the loc method to select all rows where the Department is "Marketing".
Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
Note:
iloc is used for selection by index location
loc is used for selection by label

In [3]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
        'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
        'Age': [30, 40, 25, 35, 45, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
        'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)

# Select the first 3 rows using iloc
first_3_rows = employee_df.iloc[:3]

# Select all rows where the Department is "Marketing" using loc
marketing_rows = employee_df.loc[employee_df['Department'] == 'Marketing']

# Select the Age and Gender columns for the first 4 rows using iloc
age_gender_first_4_rows = employee_df.iloc[:4, [2, 3]]

# Select the Salary and Experience columns for all rows where the Gender is "Male" using loc
salary_experience_male = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary','Experience']]